body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../images/mountain.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.myPage {
    font-family: 'Fjalla One', sans-serif;
    font-size: 400%;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
}

.navText {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    font-size: 200%;
    text-shadow: 2px 2px 4px #000000;
	-webkit-box-shadow: 8px 0px 6px -6px black;
	-moz-box-shadow: 8px 0px 6px -6px black;
	box-shadow: 8px 0px 6px -6px black;
    /*font-family: 'Roboto', sans-serif;*/
}

.navTextLast {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    font-size: 200%;
    text-shadow: 2px 2px 4px #000000;
    /*font-family: 'Roboto', sans-serif;*/
}

.logo {
    width: 15%;
}

.titles {

}

.secTitle {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
    font-size: 300%;
    text-shadow: 2px 2px 4px #000000;
}

.myPic {
    width: 20%;
}